//output:../index2.html
- var p1 = "Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio. Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor mollis mi. Sed vel tristique quam."
- var p2 = "ccumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio. Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor mollis mi. Sed vel tristique quam"
- var p3 = "molestie. Praesent aliquet quam et libero dictum"
- var p4 = "Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit."
- var avatar = [{img:"img/avatar.png",name:"Paola Valera",cargo:"CEO & CO-FOUNDER",p:[p1,p4]},{img:"img/avatar.png",name:"Paola Claudia",cargo:"CEO & CO-FOUNDER",p:[p1,p3]},{img:"img/avatar.png",name:"Paola Claudia",cargo:"CEO & CO-FOUNDER",p:[p1,p3]}]

//HTML COMPILADO CON PUG
//LOS JSON SE RECOMIENDA ARMARLOS EN UN ARCHIVO APARTE Y MINIFICARLOS PARA USARLOS AQUI
//OJO NO MODIFICAR MIXINS SOLO !!VARIABLES!!

mixin ps(p)
  each val in p
    p.main-content.mb-50 #{val}

mixin avatar(img,title,content,p)
  .item
    img(src="#{img}")
    h1.avatar-title.ours-title #{title}
    h3.avatar-cargo #{content}
    +ps(p)
          
include header.pug.jade
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css")
body
  include nav.pug.jade

  img(src="img/banner2.png",alt="ATIS",class="banner",height="405px")
  div.fondo-v2
    .in-fondo
      h2 Our Team
      p Nam porttitor blandit accumsan, Ut vel dictum sem, a pretium dui. In malesuada enim
  
  .columns
    .column.is-4
      .inline
        img(src="img/avatar.png")
        .line
          h1.avatar-title.ours-title Norma Mejinvar
          h3.avatar-cargo CEO & CO-FOUNDER
      p.main-content.mb-50 #{p1}
      p.main-content.mb-50 #{p2}
      p.main-content.mb-50 #{p3}
      
    .column
      #owl-demo.owl-carousel
        each val in avatar
          +avatar(val.img,val.name,val.cargo,val.p)
        
  img(src="img/parallax.png", class="parallax")
  include footer.pug.jade

  
script(src="https://code.jquery.com/jquery-3.2.1.min.js",integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
script(src="js/index.js")
