//output:../index.html
- var ours = [{img:"img/img2.png",title:"Our Service",p:"Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit."},{img:"img/img3.png",title:"Our Clients",p:"Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit."},{img:"img/img4.png",title:"Our Markets",p:"Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit."}]
- var p1 = "Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio. Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor mollis mi. Sed vel tristique quam."
- var p2 = "ccumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio. Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor mollis mi. Sed vel tristique quam"
- var p3 = "molestie. Praesent aliquet quam et libero dictum"
- var p4 = "Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit."

mixin article(img,title,content)
  .column.center
    img(src=img,class="ours-img")
    h2.ours-title=title
    p.ours-content=content
    if block
      block
    else
      p No content provided
        
include header.pug.jade

body
  
  include nav.pug.jade
  div.fondo
    .in-fondo
      h2 Assurance, Transparency, Integrirt, Service
      p Nam porttitor blandit accumsan, Ut vel dictum sem, a pretium dui. In malesuada enim
    
  .columns.fondo1
    .column
      p.main-pretitle nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus
      h1.main-title.mb-50 nisi, quis iaculis nulla iaculis 
      p.main-content.mb-50 #{p1}
      p.main-content.mb-50 #{p2}
      p.main-content.mb-50 #{p3}
    .column
      img(src="img/img1.png")
        
  .columns
    each val in ours
      +article(val.img,val.title,val.p)
      
  include footer.pug.jade
  
script(src="https://code.jquery.com/jquery-3.2.1.min.js",integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin="anonymous")
script(src="js/index.js")
